<%= erb :header %>

<div class="container">
  <h2>Are you sure you want to release <%= @part.type %> <%= @part.name %>?</h2>
  <% unless @part.trello_link == "" %>
    <h3>You will be overriding a previous release.</h3>
  <% end %>
  <form action="" method="POST">
    <input type="submit" class="btn btn-danger btn-medium" value="Yes" />
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
  </form>
</div>

<%= erb :footer %>
